
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    background:url("images/casa1.jpg") center fixed no-repeat;
    background-size: cover;


}

h1{font-family: 'Lobster', cursive;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px black;
    width: 80%;
    margin:  auto;
}
#boton{
    padding: 3%;
    position: absolute;
    top:80%;
    left: 37%;
}



header{

    height: 20%;

}

#boton{
    outline: none;
   padding-top: 1%;
    padding-bottom: 1%;
    width: 30%;
    color: white;
    border: #4CAF50;
    border-radius: 10px;
    background: #4CAF50;


}

#boton:hover{
    background: #1B5E20;
}



 @media screen and (min-width: 600px){
     body{
         background:url("images/casa1.jpg") center fixed no-repeat;
         background-size: cover;


         font-size:12px;


     }
     h1{
         font-size: 2em;
     }
     #boton{
         position: absolute;
         top:80%;
         left: 37%;
     }

 }



 @media screen and (min-width: 1200px){
     body{
         background:url("images/fondord.jpg") center fixed no-repeat;
         background-size: cover;
         text-align: center;





     }

     h1{
         font-size: 5em;
         color: white;
         text-shadow: 2px 2px 2px black;
         width: 80%;
         text-align: center;
     }
     #boton{
         padding: 1%;
         position: absolute;
         top:80%;
         left: 35%;
     }
     header{
         background: rgba(0,0,0,0.1);
     }
 }


